<div class="laybox mt20">
	<div class="a200">
		<div class="tit222">
			<a href="" target="_blank"><%=title%></a>
		</div>
		<%=leftContent%>
	</div>
	<div class="a978">
		<div class="tit655"></div>
		<%=rightContent%>
	</div>
</div>