@import '../../public/less/variables.less';
.listBox {
    width: 938px;
}
.mt10 {
    margin-top: 10px;
}
.borderC {
    border: 1px solid #ddd;
}
.wid198 {
    width: 228px;
    padding: 0 10px 10px;
}
.mt10 {
    margin-top: 10px;
}
.zixun , .buyTips, #blackList {
    .cloumn-name{
        border-bottom: dotted 1px #999;
        overflow: hidden;
        height: 16px;
        span {
            float: left;
        }

        a {
            font-size: 12px;
        }
    }
    ul {
        padding-top: 5px;
        li {
            list-style-type: none;
            color: #666;
            line-height: 28px;
            height: 28px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    li {
        span.headline {
            background: @main-color;
        }
        span {
            display: inline-block;
            background: #a1a1a1;
            width: 15px;
            height: 15px;
            line-height: 15px;
            color: #fff;
            text-align: center;
            _zoom: 1;
            _margin-top: 6px;
            margin-right: 5px;
        }
    }
    .cloumn-name {
        font: normal 14px/16px 'Microsoft YaHei';
        padding: 12px 0;
    }
}

#selectpx {
    .select_box {
        width: 83px;
        height: 25px;
    }
    div.tag_select, #selectbox div.tag_select_hover, #selectbox div.tag_select_open {
        display: block;
        width: 60px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        background: url(./searchbj.gif) no-repeat 0 -102px;
        padding: 0 20px 0 5px;
    }
    ul.tag_options {
        margin-top: -1px;
        mlist-style: none;
        border: 1px solid #bdbdbd;
        border-top: none;
        width: 81px;
        background: #fff;
        li {
            display: block;
            padding: 0 8px;
            height: 22px;
            text-decoration: none;
            line-height: 22px;
            &.open_hover {
                background: #eee;
            }
        }
    }

    div.tag_select_hover,div.tag_select_open {
        display: block;
        width: 60px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        background: url(./searchbj.gif) no-repeat 0 -102px;
        padding: 0 20px 0 5px;
    }
}
.mt15 {
    margin-top: 15px;
}
.clearfix{
    clear: both;
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.search-result{

    height: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}