<div class="main-content">
	<div class="listBox fl">
		<div class="search-result">
			<div class="result-num fl">
				共搜索到31个楼盘
			</div>
			<div id="selectpx" class="fr ml10">
				<div id="list_D10_09" class="tag_select" onmousemove="dvmouseover(this,'options_orderbys')" onmouseout="dvmouseout(this,'options_orderbys')" style="cursor: pointer;">默认排序</div>
				<ul id="options_orderbys" class="tag_options" onmouseout="hiddenPt(this)" onmouseover="showPt(this)" style="position: absolute; z-index: 999; display: none;">
					<li class="open" style="cursor: pointer;" selected="true" onclick="LocationHrefReplace('/house/k250-h316/')" onmouseout="limouseout(this)" onmousemove="limouseover(this)">按发布时间排序</li>
					<li class="open" style="cursor: pointer;" selected="true" onclick="LocationHrefReplace('/house/k250-h310/')" onmouseout="limouseout(this)" onmousemove="limouseover(this)">按单价从低到高</li>
					<li class="open" style="cursor: pointer;" selected="true" onclick="LocationHrefReplace('/house/k250-h39/')" onmouseout="limouseout(this)" onmousemove="limouseover(this)">按单价从高到低</li>
					<li class="open" style="cursor: pointer;" selected="true" onclick="LocationHrefReplace('/house/k250-h31/')" onmouseout="limouseout(this)" onmousemove="limouseover(this)">按更新时间排序</li>
					<li class="open" style="cursor: pointer;" selected="true" onclick="LocationHrefReplace('/house/k250/')" onmouseout="limouseout(this)" onmousemove="limouseover(this)">默认排序</li>
				</ul>
			</div>
		</div>
		<div class="houseList">
			<%for(var i = 0; i < 5; i++){%>
				<%=item%>
			<%}%>
		</div>
		<%=pagination%>
	</div>
	<div class="sidebar mt10 fr">
		<div class="wid198 borderC mt10 zixun" id="list_D11_06">
			<h3 class="cloumn-name"> <span>政策法规</span><a class="fr" href="/newsecond/news/">更多&gt;&gt;</a></h3>
			<ul>
				<li> <span class="headline">1</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23754031.htm?cms_uuid=201311337_wh_78514" target="_blank" title="精装房那些隐藏问题你看清了吗"> 精装房那些隐藏问题你看清了吗 </a></li>
				<li> <span class="headline">2</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23754789.htm?cms_uuid=201311337_wh_78513" target="_blank" title="在武汉月薪需要多少才能够买房"> 在武汉月薪需要多少才能够买房 </a></li>
				<li> <span class="headline">3</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23741918.htm?cms_uuid=201311337_wh_78466" target="_blank" title="二十五万买婚房帮你搞定丈母娘"> 二十五万买婚房帮你搞定丈母娘 </a></li>
				<li> <span>4</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23742040.htm?cms_uuid=201311337_wh_78346" target="_blank" title="九零后结婚的婚房应该如何选择"> 九零后结婚的婚房应该如何选择 </a></li>
				<li> <span>5</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23739560.htm?cms_uuid=201311337_wh_78464" target="_blank" title="刚需置业低首付重新回归主力军"> 刚需置业低首付重新回归主力军 </a></li>
				<li> <span>6</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23741920.htm?cms_uuid=201311337_wh_78345" target="_blank" title="如何避免新房装修那些麻烦事儿"> 如何避免新房装修那些麻烦事儿 </a></li>
			</ul>
		</div>
		<div class="wid198 borderC mt10 zixun" id="list_D11_06">
			<h3 class="cloumn-name"> <span>房产咨询</span><a class="fr" href="/newsecond/news/">更多&gt;&gt;</a></h3>
			<ul>
				<li> <span class="headline">1</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23754031.htm?cms_uuid=201311337_wh_78514" target="_blank" title="精装房那些隐藏问题你看清了吗"> 精装房那些隐藏问题你看清了吗 </a></li>
				<li> <span class="headline">2</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23754789.htm?cms_uuid=201311337_wh_78513" target="_blank" title="在武汉月薪需要多少才能够买房"> 在武汉月薪需要多少才能够买房 </a></li>
				<li> <span class="headline">3</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23741918.htm?cms_uuid=201311337_wh_78466" target="_blank" title="二十五万买婚房帮你搞定丈母娘"> 二十五万买婚房帮你搞定丈母娘 </a></li>
				<li> <span>4</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23742040.htm?cms_uuid=201311337_wh_78346" target="_blank" title="九零后结婚的婚房应该如何选择"> 九零后结婚的婚房应该如何选择 </a></li>
				<li> <span>5</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23739560.htm?cms_uuid=201311337_wh_78464" target="_blank" title="刚需置业低首付重新回归主力军"> 刚需置业低首付重新回归主力军 </a></li>
				<li> <span>6</span> <a href="http://esf.wuhan.fang.com/newsecond/news/23741920.htm?cms_uuid=201311337_wh_78345" target="_blank" title="如何避免新房装修那些麻烦事儿"> 如何避免新房装修那些麻烦事儿 </a></li>
			</ul>
		</div>
	</div>
</div>