<div class="imgbox">
	<a  href="" target="_blank">
		<img alt=""  border="0" src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" style="display: inline;">
	</a>
	<div class="text">
		<p>
			<a href="" target="_blank">
				越秀刚需置业
			</a>
		</p>
	</div>
</div>