<div class="topnav-wrapper">
    <div class="topnav">
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="http://www1.fang.com" target="_self">新房</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="http://www1.fang.com" target="_self">二手房</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="http://www1.fang.com" target="_self">租房</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="" target="_self">商铺</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="" target="_self">写字楼</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="" target="_self">厂房仓库</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="" target="_self">二手房评估</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="" target="_self">房产资讯</a>
            </div>
        </div>
        <div class="s1" onmouseover="this.className='s1 on'" onmouseout="this.className='s1'">
            <div class="s4Box">
                <a href="" target="_self">综合资讯</a>
            </div>
        </div>
        <div class="s3" onmouseover="this.className='s3 on'" onmouseout="this.className='s3'">
            <div class="s4Box">
                <a href="" target="_self">房协动态</a>
            </div>
            <div class="listBox">
                <ul>
                    <li><a href="" target="_self">协会公告</a></li>
                    <li><a href="" target="_self">协会动态</a></li>
                    <li><a href="" target="_self">行业动态</a></li>
                    <li><a href="" target="_self">房协会员</a></li>
                    <li><a href="" target="_self">政策法规</a></li>
                    <li><a href="" target="_self">税费知识</a></li>
                    <li><a href="" target="_self">下载专区</a></li>
                </ul>
            </div>
        </div>
        <div class="s2" onmouseover="this.className='s2 on'" onmouseout="this.className='s2'">
            <div class="s4Box">
                <a href="http://www1.fang.com" target="_self">移动APP</a>
            </div>
            <div class="listBox mob">
                <div class="mobile pama">
                    <div class="title">扫描二维码安装<br>房天下APP</div>
                    <div class="qrcode"><img src="http://js.soufunimg.com/homepage/new/fang905bj/newsV3/images/qrcodeQudaonew.jpg" alt="搜房网房天下APP"></div>
                </div>
                <div class="mobile">
                    <div class="title">手机浏览器访问<br>房天下</div>
                    <div class="qrcode"><img src="http://js.soufunimg.com/homepage/new/fang905bj/newsV3/images/fangm.jpg" alt="" width="80" height="60" style="margin-top:19px"></div>
                </div>
            </div>
        </div>
        <div class="s4a" onmouseover="this.className='s4a on' " onmouseout="this.className='s4a';">
            <div class="s4Box"><a href="http://passport.fang.com/register.aspx">注册</a></div>
        </div>
        <div class="sline" id="slineId"></div>
        <div class="s4a" onmouseover="this.className='s4a on'" onmouseout="this.className='s4a'">
            <div class="s4Box"><a href="">登录</a></div>
        </div>
        <div class="clear"></div>
    </div>
</div>