<div class="bigbanner-wrapper">
    <div class="banner has-dots" id="b04">
        <ul>
            <li>
                <div class="banner-item">
                    <img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_static_2/static/img/bg.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="banner-item">
                    <img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_static_2/static/img/bg.jpg" alt="">
                </div>
            </li>
        </ul>
        <a href="javascript:void(0);" class="unslider-arrow04 prev">
            <img class="arrow" id="al" src="http://www.jq22.com/demo/unslider-150203225543/arrowl.png" alt="prev" width="20" height="35"></a>
        <a href="javascript:void(0);" class="unslider-arrow04 next">
            <img class="arrow" id="ar" src="http://www.jq22.com/demo/unslider-150203225543/arrowr.png"alt="next" width="20" height="37">
        </a>
    </div>
    <div class="bigbanner">
        <div class="bigbanner-mask">
            <div class="news01" id="">
                <div class="s1"><a href="" target="_self">肇庆搜房网</a></div>
            </div>
            <div class="news02">
                <div class="s1">
                    <a href="" id="" class="cur" target="_self">新房</a>
                    <a href="" id="" target="_self">二手房</a>
                    <a href="" id="" target="_self">租房</a>
                    <a href="" id="" target="_self">商铺</a>
                    <a href="" id="" target="_self">写字楼</a>
                    <a href="" id="" target="_self">厂房仓库</a>
                </div>
            </div>
            <div class="news03">
                <div class="searchjt" id="searchjtId1" ></div>
                <div class="searchjt" id="searchjtId2" style="margin-left: 60px; display: none;"></div>
                <div class="searchjt" id="searchjtId3" style="margin-left:125px;display:none;"></div>
                <div class="searchjt" id="searchjtId4" style="margin-left:175px;display:none;"></div>
                <div class="searchjt" id="searchjtId5" style="margin-left:235px;display:none;"></div>
                <div class="searchjt" id="searchjtId6" style="margin-left: 315px;display:none;"></div>
                <input name="" type="text" class="sinputstyle" placeholder="请输入小区名称或地址，给自己的房子估个价" maxlength="40"/>
                <span class="sbuttonstyle"></span>
            </div>
        </div>
    </div>
</div>