<div class="bigbanner-wrapper">
    <div class="bigbanner">
        <div class="bigbanner-mask">
            <div class="news01" id="">
                <div class="s1"><a href="" target="_self">肇庆搜房网</a></div>
            </div>
            <div class="news02">
                <div class="s1">
                    <a href="" id="" class="cur" target="_self">查房价</a>
                    <a href="" id="" target="_self">买新房</a>
                    <a href="" id="" target="_self">买二手房</a>
                    <a href="" id="" target="_self">找租房</a>
                    <a href="" id="" target="_self">装修家居</a>
                    <a href="" id="" target="_self">房产快讯</a>
                    <a href="" id="" target="_self">海外房产</a>
                </div>
            </div>
            <div class="news03">
                <div class="searchjt" id="searchjtId1" ></div>
                <div class="searchjt" id="searchjtId2" style="margin-left: 70px; display: none;"></div>
                <div class="searchjt" id="searchjtId3" style="margin-left:145px;display:none;"></div>
                <div class="searchjt" id="searchjtId4" style="margin-left:221px;display:none;"></div>
                <div class="searchjt" id="searchjtId5" style="margin-left:300px;display:none;"></div>
                <div class="searchjt" id="searchjtId6" style="margin-left: 382px;display:none;"></div>
                <div class="searchjt" id="searchjtId7" style="margin-left:465px;display:none;"></div>
                <input name="" type="text" class="sinputstyle" placeholder="请输入小区名称或地址，给自己的房子估个价" maxlength="40"/>
                <span class="sbuttonstyle"></span>
            </div>
        </div>

    </div>
</div>