<div class="order-group-wrapper">
    <div class="order-group">
        <form action="">
            <h3>团购报名</h3>
            <input type="text" placeholder="姓名"/>
            <input type="text" placeholder="电话"/>
            <button>马上报名</button>
        </form>
    </div>
    <div class="order-group">
        <form action="">
            <h3>贷款金融报名</h3>
            <input type="text" placeholder="姓名"/>
            <input type="text" placeholder="电话"/>
            <button>马上报名</button>
        </form>
    </div>

</div>