<div class="laybox mt20">
	<div class="tetit">
		<div class="s1">
			<a class="cmsA" href="http://newhouse.gz.fang.com/" target="_blank" id="dsy_D03_18">好盘热搜</a>
		</div>
		<div class="s2">
			<a class="cmsA" href="http://newhouse.gz.fang.com/house/s/b31/" target="_blank" id="dsy_D03_19">明星楼盘</a>
		</div>
		<div class="s2">
			<a class="cmsA" href="http://newhouse.gz.fang.com/" target="_blank" id="dsy_D03_20">热门楼盘</a>
		</div>

	</div>
	<div class="tenr" style="display: block;">
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd ">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tenr" style="display: none;">
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd ">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tenr" style="display: none;">
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd  mr24">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
		<div class="hottd ">
			<div class="pic">
				<div class="pic_box">
					<a href="" target="_blank">
						<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg" alt=" 南沙金茂湾 " width="260" height="160" border="0">
					</a>
					<div class="pic_text">
						<a href="" target="_blank"> 南沙金茂湾 </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>