<div class="footer">
	<div class="content">
		<div class="contentView">
			<div class="contact">
				<img src="http://h0758.net/resources/logo_h0758_02.jpg">
				<span class="title">客服热线</span>
				<span class="tel">0758-2720758</span>
			</div>
			<div class="wx">
				<span class="title">官方微信</span>
				<img src="../../static/img/weixin.jpg">
			</div>
			<div class="wb">
				<span class="title">官方微信</span>
				<img src="../../static/img/weixin.jpg">
			</div>
			<div class="statement">
				<span class="title">房产</span>
				<span>新房</span>
				<span>二手房</span>
				<span>租房</span>
			</div>
			<div class="statement">
				<span class="title">物业</span>
				<span>商铺</span>
				<span>写字楼</span>
				<span>厂房仓库</span>
			</div>
			<div class="statement">
				<span class="title">房协</span>
				<span>房协资讯</span>
				<span>房协会员</span>
				<span>下载中心</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="bottom"><span>Copyright © 2009 H0758.NET.All Rights Reserved 肇庆市房地产行业协会 版权所有 粤ICP备11087286号-1</span>
	</div>
</div>