<div class="msgBox">
	<div class="top_house">
		<a href="" class="a_img" target="_blank" id="xfptxq_B05_02">
			<img src="http://resource.uniqueid.cn/testDemo/zfw_pc_ui_design/images/%E9%A6%96%E9%A1%B5/u25.jpg">
		</a>
		<div class="ho_right">
			<h3>
				<a href="http://news.gz.fang.com/house/2811172560_2823331.htm" title="花城美汇在售47-80平公寓均价12500元/平"
				   target="_blank">花城美汇在售47-80平公寓均价12500元/平</a>
			</h3>
			<p>
				<a href="http://news.gz.fang.com/house/2811172560_2823331.htm" title="花城美汇11月27日开售47-80平公寓，样板房有47、62、80三种公寓户型可看，售价12000-13000元/平。花城美汇处于花都CBD中轴线，新华路与花城路，距离花都北站直线距离仅1公里，地铁9号线（花城站）仅200米距离，1路之" target="_blank">
					花城美汇11月27日开售47-80平公寓，样板房有47、62、80三种公寓户型可看，售价12000-13000元/平。花城美汇处于花都CBD中轴线，新华路与花城路，距离花都北站直线距离仅1公里，地铁9号..
				</a>
				<span class="d_time">2016-12-02</span>
			</p>
		</div>
	</div>
</div>