<div class="laybox mt20">
	<div class="a655">
		<div class="tit222">
			<a href="" target="_blank"><%=leftTitle%></a>
		</div>
		<%=leftContent%>
	</div>
	<div class="a545">
		<div class="tit222">
			<a href="" target="_blank"><%=rightTitle%></a>
		</div>
		<%=rightContent%>
	</div>
</div>